# デフォルトで指定されていた
Dockerfile
.dockerignore
node_modules
npm-debug.log
README*.md
.git
.next

# 開発環境にあればよい
.vscode
.husky
jest.config.ts
jest.setup.ts
.eslintrc.cjs
.prettierrc.json
.prettierignore
.editorconfig
.stylelintrc.js

# ログファイル
yarn-error.log*

# シークレットキー
chroma-key-secret.json

# .env
.env.local

# テストファイル
*/test

# README用のファイル
Stuff
